<!-- BEGIN_INCLUDE(pubsubhubbub:handleRequest) -->
<flow name="hub">
    <http:inbound-endpoint address="http://localhost:${port1}/hub" />
    <pubsubhubbub:hub />
</flow>
<!-- END_INCLUDE(pubsubhubbub:handleRequest) -->
<!-- BEGIN_INCLUDE(pubsubhubbub:config) -->
    <pubsubhubbub:config objectStore-ref="hubObjectStore"
                         retryCount="5"
                         retryFrequency="3600000"
                         defaultLeaseSeconds="86400" />  
<!-- END_INCLUDE(pubsubhubbub:config) -->
                         