<!-- BEGIN_INCLUDE(PuSH-hub:handleHubRequest) -->
<PuSH-hub:hub />
<!-- END_INCLUDE(PuSH-hub:handleHubRequest) -->
<!-- BEGIN_INCLUDE(PuSH-hub:config) -->
<PuSH-hubconfig objectStore-ref="hubObjectStore"
                retryCount="5"
                retryFrequency="3600000"
                defaultLeaseSeconds="86400" />  
<!-- END_INCLUDE(PuSH-hub:config) -->

<!-- BEGIN_INCLUDE(PuSH-subscriber:handleSubscriberRequest) -->
<PuSH-subscriber:subscriber />
<!-- END_INCLUDE(PuSH-subscriber:handleSubscriberRequest) -->
<!-- BEGIN_INCLUDE(PuSH-subscriber:config) -->
<PuSH-subscriber:config hubUrl="https://pubsubhubbub.appspot.com"
                        callbackUrl="http://some.public-domain.com/subscriber"
                        topic="http://blogs.mulesoft.com" />
<!-- END_INCLUDE(PuSH-subscriber:config) -->

<!-- BEGIN_INCLUDE(PuSH-publisher:notifyNewContent) -->
<PuSH-publisher:notify-new-content topic="http://blogs.mulesoft.com" />
<!-- END_INCLUDE(PuSH-publisher:notifyNewContent) -->
<!-- BEGIN_INCLUDE(PuSH-publisher:config) -->
<PuSH-publisher:config hubUrl="https://pubsubhubbub.appspot.com" />
<!-- END_INCLUDE(PuSH-publisher:config) -->